.header {
    background-color: #00796b;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header img {
    width: 40px;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    margin-top: 20px;
}

.table {

    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table thead {
    background-color: #00796b;
    color: white;
}

.table tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.table tbody tr:hover {
    background-color: #e0e0e0;
}

.table td, .table th {
    padding: 12px;
    text-align: left;
}

.average-text {
    font-size: 16px;
    color: #00796b;
    font-weight: bold;
    margin-top: 15px;
}

